*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: linear-gradient(to bottom right, #3c6ca8 45%, #b78fd6, #eae164);
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: black;
}
