*,::after,::before { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    color: white;
}
body {
    background-image: linear-gradient(to bottom right, #3c6ca8 35%, #b78fd6, #eae164);
    background-attachment: fixed;
}
